<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.mongodb-with-limits</string>
  <key>ProgramArguments</key>
  <array>
    <string>/path/to/mongod</string>
    <string>--config</string>
    <string>/path/to/mongod.conf</string>
  </array>
  <key>RunAtLoad</key>
  <false/>
  <key>KeepAlive</key>
  <false/>
  <key>HardResourceLimits</key>
  <dict>
    <key>NumberOfFiles</key>
    <integer>4096</integer>
    <key>NumberOfProcesses</key>
    <integer>4096</integer>
  </dict>
  <key>SoftResourceLimits</key>
  <dict>
    <key>NumberOfFiles</key>
    <integer>4096</integer>
    <key>NumberOfProcesses</key>
    <integer>4096</integer>
  </dict>
</dict>
</plist>
